<!DOCTYPE HTML>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>create employeeEntity<p>
    <form method="post" action="/create">
        <div>
            <span>
                name
                <input type="text" name="name"/>
            </span>
        </div>
        <div>
            <span>
                role
                <input type="text" name="role"/>
            </span>
        </div>
        <button type="submit">
            <span>Create</span>
        </button>
    </form>
    <p>menu<a href="/menu">here</a></p>
</body>
</html>